body{
	padding: 0;
	margin: 0;
	width: 100%;
	display: block;
	font-family: Verdana, Geneva, sans-serif;
}

nav{
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	width: 100%;
	height: auto;
	display: block;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f0f0f0;
	top: 0;
	width: 100%;
	border-bottom: 2px solid #333;
}

nav li{
	display: inline;
	float: right;
}

nav li a{
	display: block;
	color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 1px solid #939393;
}

nav li a:hover:not(.active){
	background-color: rgba(30,87,153,1);
	color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer{
	clear:both;
	position:fixed;
	background: #f0f0f0;
	bottom: 0;
	width: 100%;
}

footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f0f0f0;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 2px solid #333;
}

footer li{
	display: inline;
}

footer li a{
	color: #333;
	display: inline-block;
	text-decoration: none;
	text-align: center;
}

.background{
	background-image: url('resources/Art/mainBack.jpg');
	background-size: 100%;
	opacity: 0.2;
	position: fixed;
	top: 0;
	left:0;
	z-index: -1;
}

.active{
	color: white;
	background-color: rgba(30,87,153,1);
}

.preview{
	color: rgba(30,87,153,1);
	text-shadow: 1px 1px #000;
}

.preview a{
	display: inline;
}

.preview img{
	max-height: 200px;
}

#search{
	margin: 3% 2% 2% 2%;
}

#bannerLogo{
	text-align: center;
	color: rgba(30,87,153,1);
	font-size: 2em;
	font-weight: bold;
}

#sidebar{
	padding: 0;
	margin: 0;
	left:0;
	display: inline;
	position: relative;
}

#sidebar ul{
	float: left;
	height: 100%;
	margin: 0;
	left: 0;
	background-color: #f0f0f0;
	border-right: 1px solid #333;
	position: fixed;
	width: 5%;
}

#sidebar li a{
	display: block;
	color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 1px solid #939393;
}

#sidebar ul li a{
	display: block;
	color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 1px solid #939393;
}

#content{
	font-size: 20px;
	margin-top: 4%;
	margin-left: 2%;
}

#content form{
	background-color: #f0f0f0;
	border: 1px solid #333;
	border-radius: 25px;
	position: absolute;
	top: 20%;
	left: 41%;
	text-align: center;
}

#content form input{
	margin: 10px 20px 20px 20px;
}

#loginError{
	color: red;
	text-shadow: 1px 1px #000;
}

#signUpError{
	color: red;
	text-shadow: 1px 1px #000;
}

#bannerLogo{
	float: left;
}

#bannerLogo a{
	display: block;
	color: #333;
	text-align: center;
	padding: 0;
	text-decoration: none;
	border-right: none;
}

#bannerLogo a:hover{
	background-color: #f0f0f0;
	color: #333;
}

#bannerLogo a img{
	max-width: 161px;
	content: url('resources/Art/cnlogo.png');
}

#contact {
	margin-left: 25%;
	margin-top: 20%;
    border-collapse: collapse;
    width: 50%;
}

#contact th, #contact td {
    text-align: center;
    padding: 8px;
}

#contact tr:nth-child(even){background-color: #f2f2f2}

#contact th {
    background-color: rgba(30,87,153,1);
    color: white;
}

#shopping {
	margin-left: 15%;
	margin-top: 5%;
    border-collapse: collapse;
    width: 70%;
}

#shopping th, #shopping td {
    text-align: center;
    padding: 8px;
}

#shopping tr:nth-child(even){background-color: #f2f2f2}

#shopping th {
    background-color: rgba(30,87,153,1);
    color: white;
}